$light-gold: rgb(255, 206, 59);
$base-gold: rgb(207, 168, 47);
$dark-gold: rgb(155, 125, 36);

$light-orange: rgb(255, 96, 55);
$base-orange: rgb(230, 87, 49);
$dark-orange: rgb(204, 77, 44);

$light-blue: rgb(82, 137, 255);
$base-blue: rgb(70, 117, 218);
$dark-blue: rgb(41, 68, 127);

$dark-neutral: rgb(34, 31, 28);
$mid-dark-neutral: rgb(57, 52, 47);
$mid-light-neutral: rgb(232, 224, 207);
$light-neutral: rgb(255, 246, 228);

