// HTML5 Boilerplate accessible hidden style
.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

%cf {
    &:after {
        clear: both;
        content: " ";
        display: table;
    }
    &:before {
        content: " ";
        display: table;
    }
}

.fixed {
    position: fixed;
}

.removed {
    display: none;
}

